<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.zg.mapper.LabelsMapper">

    <resultMap id="BaseResultMap" type="priv.zg.domain.Labels">
        <id property="labelId" column="label_id" jdbcType="BIGINT"/>
        <result property="labelName" column="label_name" jdbcType="VARCHAR"/>
        <result property="labelAlias" column="label_alias" jdbcType="VARCHAR"/>
        <result property="labelDescription" column="label_description" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        label_id,label_name,label_alias,
        label_description
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from labels
        where label_id = #{labelId,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE
        FROM labels
        WHERE label_id = #{labelId,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="label_id" keyProperty="labelId" parameterType="priv.zg.domain.Labels"
            useGeneratedKeys="true">
        INSERT INTO labels
        ( label_id, label_name, label_alias
        , label_description)
        VALUES ( #{labelId,jdbcType=BIGINT}, #{labelName,jdbcType=VARCHAR}, #{labelAlias,jdbcType=VARCHAR}
               , #{labelDescription,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="label_id" keyProperty="labelId" parameterType="priv.zg.domain.Labels"
            useGeneratedKeys="true">
        insert into labels
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="labelId != null">label_id,</if>
            <if test="labelName != null">label_name,</if>
            <if test="labelAlias != null">label_alias,</if>
            <if test="labelDescription != null">label_description,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="labelId != null">#{labelId,jdbcType=BIGINT},</if>
            <if test="labelName != null">#{labelName,jdbcType=VARCHAR},</if>
            <if test="labelAlias != null">#{labelAlias,jdbcType=VARCHAR},</if>
            <if test="labelDescription != null">#{labelDescription,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="priv.zg.domain.Labels">
        update labels
        <set>
            <if test="labelName != null">
                label_name = #{labelName,jdbcType=VARCHAR},
            </if>
            <if test="labelAlias != null">
                label_alias = #{labelAlias,jdbcType=VARCHAR},
            </if>
            <if test="labelDescription != null">
                label_description = #{labelDescription,jdbcType=VARCHAR},
            </if>
        </set>
        where label_id = #{labelId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="priv.zg.domain.Labels">
        UPDATE labels
        SET label_name        = #{labelName,jdbcType=VARCHAR},
            label_alias       = #{labelAlias,jdbcType=VARCHAR},
            label_description = #{labelDescription,jdbcType=VARCHAR}
        WHERE label_id = #{labelId,jdbcType=BIGINT}
    </update>
</mapper>
